body{
    /* text-align: center; */
    /* background-color: rgb(129, 126, 126); */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-image:url(https://jolly-kalam-23776e.netlify.app/restaurantwebsite/assets/images/topography.svg)
    ,linear-gradient(110deg, #f8076b, #823ae0);
    /* background-image:url("./images/topography.svg"),linear-gradient(110deg, #f93d66, #6d47d9); */
}
.cont{
    margin: 40px;
}
ul{
    list-style: none;
    display: flex;
    padding: 0px;
}
li{
    background-color: #ffc600;
    font-weight: 900;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    padding: 10px 0px;
    width: 300px;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: black;
}
.top{
    display: flex;
    justify-content: space-between;
}
.top img{
    position: absolute;
    z-index: -1;
    left: 3em;
    width: 60em;
    height: 30em;
}
header{
    display: flex;
    flex-direction: column;
    height: 30em;
    /* align-items: center; */
    justify-content: center;
    padding-left: 5em;
}
header h1, header p{
    background-color:#ffc600 ;
    width: 9em;
}
.prices{
    display: flex;
    flex-direction: column;
    width: 28em;
    height: 30em;
    margin: 0px;
    justify-content: space-between;
}
.prices div{
    background-color:#ffc600 ;
    text-align: center;
    /* margin: 10px; */
    font-weight: 800;
    padding: 4em;

}
.prices p{
    /* padding: 0px; */
    margin: 0px;
}
.prices .price{
    font-weight: 300;
    font-size: 60px;
}
.features{
    display: flex;
    margin: 15px 0px;
}
.features .feature{
    background-color: white;
    margin: 5px;
    text-align: center;
}
.feature .icon{
    font-size: 50px;
}
.about{
    display: flex;
    background-color: white;
    padding: 3em;
    font-weight: 900;
}
.about .about_details{
    display: flex;
    flex-direction: column;
}
.about button{
    width: 10em;
    background-color: #ffc600;
    border: none;
    padding: 1em;
}
.gallery h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gallery h1:before{
    display: block;
    content: '';
    height: 10px;
    --direction:left;
    background: linear-gradient(to var(--direction, right), yellow, transparent);
    /* background: linear-gradient(to (right, left), #ffc600, transparent); */
    /* box-sizing: inherit; */
    width: 25em;

}
.gallery h1::after{
    /* background: linear-gradient(to (right,left), yellow, transparent); */
    display: block;
    content: '';
    height: 10px;
    --direction:right;
    background: linear-gradient(to var(--direction,left), yellow, transparent);
    /* background: linear-gradient(to (right, left), #ffc600, transparent); */
    /* box-sizing: inherit; */
    width: 25em;
}
.gallery .images{
    display: flex;
    flex-wrap: wrap;
}
.gallery img{
    margin: 5px;
    width: 14em;
}
